@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");

body {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  background: linear-gradient(90deg, #00ff88 0%, #0700b8 100%);
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  font-size: 48px;
  font-weight: 200;
  width: 400px;
  margin: 0 auto;
  margin-top: 12.5%;
  box-shadow: 0 0 10px 0 rgba(125, 125, 125, 0.5);
  border: 1px solid #535052;
}

.display {
  grid-column: 1 / 4;
  text-align: right;
  padding-right: 40px;
  font-size: 80px;
  padding-top: 12px;
  background: #535052;
  color: #fff;
  border: 1px solid #535052;
}

.clear {
  background-color: #f5923e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #535052;
  cursor: pointer;
}

.nums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: #7c7a7b;
  color: white;
}

.nums > div {
  padding: 10px;
  border: 1px solid #535052;
  cursor: pointer;
}

.num-0 {
  grid-column: 1 / 2;
}

.ops {
  background-color: #f5923e;
  color: #fff;
}

.ops > div {
  padding: 12px 0px;
  border: 1px solid #535052;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
